<h1>Hello</h1>
<a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
<br>
<a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
<br>
<a [routerLink]="['/user']" routerLinkActive="router-link-active">User</a>


<br>
<br>

<a [routerLink]="['user/10']" routerLinkActive="router-link-active">Person 1</a>
<br>
<a [routerLink]="['user/20']" routerLinkActive="router-link-active">Person 2</a>
<br>
<a [routerLink]="['user/30']" routerLinkActive="router-link-active">Person 3</a>



<router-outlet></router-outlet>